---
http_interactions:
- request:
    method: patch
    uri: https://api.track.toggl.com/api/v9/workspaces/<TOGGL_WORKSPACE_ID>/time_entries/3398443148,3398445220
    body:
      encoding: UTF-8
      string: '[{"op":"replace","path":"/pid","value":201899518}]'
    headers:
      Authorization:
      - Basic <TOGGL_BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-toggl-request-id:
      - 0e8755aa-3213-4b58-bf98-0a16aa6ff8ab
      x-service-level:
      - GREEN
      instance:
      - track-public-api-proxy-6bc44dc6d5-mrzsv
      x-we-are-hiring:
      - https://toggl.com/jobs/
    body:
      encoding: UTF-8
      string: '{"success":[3398443148,3398445220],"failure":[]}'
  recorded_at: Wed, 10 Apr 2024 04:30:03 GMT
recorded_with: VCR 6.2.0
