---
http_interactions:
- request:
    method: patch
    uri: https://api.track.toggl.com/api/v9/workspaces/<TOGGL_WORKSPACE_ID>/projects/201899518,201876878
    body:
      encoding: UTF-8
      string: '[{"op":"replace","path":"/color","value":"#000000"}]'
    headers:
      Authorization:
      - Basic <TOGGL_BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-toggl-request-id:
      - 2ef494c9-823c-4b1c-a82b-3a113a3df1bc
      x-service-level:
      - GREEN
      instance:
      - track-public-api-proxy-68c8f5bc4-p2xq2
      x-we-are-hiring:
      - https://toggl.com/jobs/
    body:
      encoding: UTF-8
      string: '{"success":[201899518,201876878],"failure":[]}'
  recorded_at: Thu, 02 May 2024 00:03:40 GMT
recorded_with: VCR 6.2.0
