---
http_interactions:
- request:
    method: post
    uri: https://api.track.toggl.com/api/v9/workspaces/<TOGGL_WORKSPACE_ID>/projects
    body:
      encoding: UTF-8
      string: '{"name":"Created project via API"}'
    headers:
      Authorization:
      - Basic <TOGGL_BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-toggl-request-id:
      - 829d723b-abc8-4944-bcfe-9d547e90f75b
      x-service-level:
      - GREEN
      instance:
      - track-public-api-proxy-6bc44dc6d5-mrzsv
      x-we-are-hiring:
      - https://toggl.com/jobs/
    body:
      encoding: UTF-8
      string: '{"id":201991297,"workspace_id":<TOGGL_WORKSPACE_ID>,"client_id":null,"name":"Created
        project via API","is_private":true,"active":false,"at":"2024-04-14T17:54:22+00:00","server_deleted_at":null,"color":"#0b83d9","billable":null,"template":null,"auto_estimates":null,"estimated_hours":null,"estimated_seconds":null,"rate":null,"rate_last_updated":null,"currency":null,"recurring":false,"template_id":null,"recurring_parameters":null,"fixed_fee":null,"actual_hours":null,"actual_seconds":null,"start_date":"2024-04-14","wid":<TOGGL_WORKSPACE_ID>,"cid":null,"permissions":null}'
  recorded_at: Sun, 14 Apr 2024 17:54:22 GMT
recorded_with: VCR 6.2.0
