---
http_interactions:
- request:
    method: post
    uri: https://api.track.toggl.com/api/v9/workspaces/<TOGGL_WORKSPACE_ID>/time_entries
    body:
      encoding: UTF-8
      string: '{"description":"CREATE time entry","start":"2024-04-10T08:00:00+00:00","duration":3600,"pid":201876878,"tags":["development","ruby"],"created_with":"TogglRb","wid":<TOGGL_WORKSPACE_ID>}'
    headers:
      Authorization:
      - Basic <TOGGL_BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-toggl-request-id:
      - 21c05207-125a-4323-ab70-6f3c86314b42
      x-service-level:
      - GREEN
      instance:
      - track-public-api-proxy-6bc44dc6d5-7wdt5
      x-we-are-hiring:
      - https://toggl.com/jobs/
    body:
      encoding: UTF-8
      string: '{"id":3404802040,"workspace_id":<TOGGL_WORKSPACE_ID>,"project_id":201876878,"task_id":null,"billable":false,"start":"2024-04-10T08:00:00Z","stop":"2024-04-10T09:00:00Z","duration":3600,"description":"CREATE
        time entry","tags":["development","ruby"],"tag_ids":[16009455,16009456],"duronly":true,"at":"2024-04-12T15:26:15+00:00","server_deleted_at":null,"user_id":10658406,"uid":10658406,"wid":<TOGGL_WORKSPACE_ID>,"pid":201876878,"permissions":null}'
  recorded_at: Fri, 12 Apr 2024 15:26:15 GMT
recorded_with: VCR 6.2.0
