---
http_interactions:
- request:
    method: get
    uri: https://api.track.toggl.com/api/v9/me/time_entries/3404802040?include_sharing=true&meta=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <TOGGL_BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-toggl-request-id:
      - 51b0922e-0793-4b9d-9471-57346600fde4
      x-service-level:
      - GREEN
      instance:
      - track-public-api-proxy-f666f86df-kw6z2
      x-we-are-hiring:
      - https://toggl.com/jobs/
    body:
      encoding: UTF-8
      string: '{"id":3404802040,"workspace_id":<TOGGL_WORKSPACE_ID>,"project_id":201876878,"task_id":null,"billable":false,"start":"2024-04-10T08:00:00+00:00","stop":"2024-04-10T09:00:00+00:00","duration":3600,"description":"CREATE
        time entry","tags":["development","ruby"],"tag_ids":[16009455,16009456],"duronly":true,"at":"2024-04-12T15:26:15+00:00","server_deleted_at":null,"user_id":10658406,"project_name":"A
        project","project_color":"#c9806b","project_active":true,"permissions":null}'
  recorded_at: Thu, 25 Apr 2024 03:15:57 GMT
recorded_with: VCR 6.2.0
