---
http_interactions:
- request:
    method: get
    uri: https://api.track.toggl.com/api/v9/me/time_entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <TOGGL_BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-toggl-request-id:
      - 67ea3b4b-4f12-4ce5-b55f-1d609f047da8
      x-service-level:
      - GREEN
      instance:
      - track-public-api-proxy-f666f86df-ng2v4
      x-we-are-hiring:
      - https://toggl.com/jobs/
    body:
      encoding: UTF-8
      string: '[{"id":3404802040,"workspace_id":<TOGGL_WORKSPACE_ID>,"project_id":201876878,"task_id":null,"billable":false,"start":"2024-04-10T08:00:00+00:00","stop":"2024-04-10T09:00:00+00:00","duration":3600,"description":"CREATE
        time entry","tags":["development","ruby"],"tag_ids":[16009455,16009456],"duronly":true,"at":"2024-04-12T15:26:15+00:00","server_deleted_at":null,"user_id":10658406,"uid":10658406,"wid":<TOGGL_WORKSPACE_ID>,"pid":201876878,"permissions":null},{"id":3398445220,"workspace_id":<TOGGL_WORKSPACE_ID>,"project_id":201899518,"task_id":null,"billable":false,"start":"2024-04-09T04:26:32+00:00","stop":"2024-04-09T04:26:38+00:00","duration":6,"description":"The
        First task","tags":["tag_1","tag_3"],"tag_ids":[15986619,15986620],"duronly":true,"at":"2024-04-10T04:30:03+00:00","server_deleted_at":null,"user_id":10658406,"uid":10658406,"wid":<TOGGL_WORKSPACE_ID>,"pid":201899518,"permissions":null},{"id":3398443148,"workspace_id":<TOGGL_WORKSPACE_ID>,"project_id":201899518,"task_id":null,"billable":false,"start":"2024-04-09T04:19:52+00:00","stop":"2024-04-09T04:23:08+00:00","duration":196,"description":"The
        First task","tags":["tag_1","tag_3"],"tag_ids":[15986619,15986620],"duronly":true,"at":"2024-04-10T04:30:03+00:00","server_deleted_at":null,"user_id":10658406,"uid":10658406,"wid":<TOGGL_WORKSPACE_ID>,"pid":201899518,"permissions":null}]'
  recorded_at: Wed, 24 Apr 2024 15:28:17 GMT
recorded_with: VCR 6.2.0
