---
http_interactions:
- request:
    method: get
    uri: https://api.track.toggl.com/api/v9/organizations/<TOGGL_ORGANIZATION_ID>/workspaces/<TOGGL_WORKSPACE_ID>/groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <TOGGL_BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-toggl-request-id:
      - '09278861-6a9b-489f-8ca3-2fa8aaa9b663'
      x-service-level:
      - GREEN
      instance:
      - track-public-api-proxy-6bc44dc6d5-mrzsv
      x-we-are-hiring:
      - https://toggl.com/jobs/
    body:
      encoding: UTF-8
      string: '[{"group_id":188929,"name":"Cool Kids","at":"2024-04-13T20:04:48.278682Z","workspaces":[<TOGGL_WORKSPACE_ID>],"users":[{"user_id":10658406,"name":"Michael
        C","avatar_url":"","joined":true}]}]'
  recorded_at: Sat, 13 Apr 2024 20:05:21 GMT
recorded_with: VCR 6.2.0
