---
http_interactions:
- request:
    method: post
    uri: https://api.track.toggl.com/reports/api/v3/workspace/<TOGGL_WORKSPACE_ID>/search/time_entries
    body:
      encoding: UTF-8
      string: '{"start_date":"2023-12-01","end_date":"2023-12-31"}'
    headers:
      Authorization:
      - Basic <TOGGL_BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-next-id:
      - '3405903924'
      x-next-row-number:
      - '51'
      x-next-timestamp:
      - '1702202400'
      x-page-size:
      - '50'
      x-range-end:
      - '2023-12-31'
      x-range-start:
      - '2023-12-01'
      x-service-level:
      - GREEN
      instance:
      - track-public-api-proxy-6bc44dc6d5-mrzsv
      x-we-are-hiring:
      - https://toggl.com/jobs/
    body:
      encoding: UTF-8
      string: '[{"user_id":10658406,"username":"Michael C","project_id":201990887,"task_id":null,"billable":false,"description":"Older
        task 1","tag_ids":[],"billable_amount_in_cents":null,"hourly_rate_in_cents":null,"currency":"USD","time_entries":[{"id":3405903820,"seconds":2700,"start":"2023-12-08T00:00:00-08:00","stop":"2023-12-08T00:45:00-08:00","at":"2024-04-14T17:03:50+00:00"}],"row_number":1},{"user_id":10658406,"username":"Michael
        C","project_id":201990887,"task_id":null,"billable":false,"description":"Older
        task 2","tag_ids":[],"billable_amount_in_cents":null,"hourly_rate_in_cents":null,"currency":"USD","time_entries":[{"id":3405903821,"seconds":2700,"start":"2023-12-08T01:00:00-08:00","stop":"2023-12-08T01:45:00-08:00","at":"2024-04-14T17:03:50+00:00"}],"row_number":2},{"user_id":10658406,"username":"Michael
        C","project_id":201990887,"task_id":null,"bill[...]
- request:
    method: post
    uri: https://api.track.toggl.com/reports/api/v3/workspace/<TOGGL_WORKSPACE_ID>/search/time_entries
    body:
      encoding: UTF-8
      string: '{"start_date":"2023-12-01","end_date":"2023-12-31","first_row_number":51}'
    headers:
      Authorization:
      - Basic <TOGGL_BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-page-size:
      - '50'
      x-range-end:
      - '2023-12-31'
      x-range-start:
      - '2023-12-01'
      x-service-level:
      - GREEN
      instance:
      - track-public-api-proxy-6bc44dc6d5-mrzsv
      x-we-are-hiring:
      - https:[...]
