---
http_interactions:
- request:
    method: get
    uri: https://api.track.toggl.com/api/v9/workspaces/<TOGGL_WORKSPACE_ID>/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <TOGGL_BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-page:
      - '1'
      x-page-size:
      - '151'
      x-sort-field:
      - project_name
      x-sort-order:
      - asc
      x-toggl-request-id:
      - e178b9d4-d1a6-454f-9bd5-56e2ccde3cbe
      x-service-level:
      - GREEN
      instance:
      - track-public-api-proxy-6bc44dc6d5-7wdt5
      x-we-are-hiring:
      - https://toggl.com/jobs/
    body:
      encoding: UTF-8
      string: '[{"id":201899518,"workspace_id":<TOGGL_WORKSPACE_ID>,"client_id":null,"name":"A
        Different Project","is_private":true,"active":true,"at":"2024-04-09T19:05:31+00:00","created_at":"2024-04-09T19:05:31+00:00","server_deleted_at":null,"color":"#bf7000","billable":null,"template":null,"auto_estimates":null,"estimated_hours":null,"estimated_seconds":null,"rate":null,"rate_last_updated":null,"currency":null,"recurring":false,"template_id":null,"recurring_parameters":null,"fixed_fee":null,"actual_hours":0,"actual_seconds":202,"start_date":"2024-04-09","status":"active","wid":<TOGGL_WORKSPACE_ID>,"cid":null,"permissions":null},{"id":201876878,"workspace_id":<TOGGL_WORKSPACE_ID>,"client_id":null,"name":"A
        project","is_private":true,"active":true,"at":"2024-04-09T04:23:27+00:00","created_at":"2024-04-09T04:23:27+00:00","server_deleted_at":null,"color":"#c9806b","billable":null,"template":null,"auto_estimates":null,"estimated_hours":null,"estimated_seconds":null,"rate":null,"rate_last_updated":null,"currency":null,"recurring":false,"template_id":null,"recurring_parameters":null,"fixed_fee":null,"actual_hours":0,"actual_seconds":0,"start_date":"2024-04-09","status":"active","wid":<TOGGL_WORKSPACE_ID>,"cid":null,"permissions":null}]'
  recorded_at: Thu, 11 Apr 2024 15:33:03 GMT
recorded_with: VCR 6.2.0
