---
http_interactions:
- request:
    method: post
    uri: https://api.track.toggl.com/reports/api/v3/workspace/<TOGGL_WORKSPACE_ID>/summary/time_entries
    body:
      encoding: UTF-8
      string: '{"project_ids":[null],"start_date":"2024-04-07"}'
    headers:
      Authorization:
      - Basic <TOGGL_BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-grouping:
      - projects
      x-range-end:
      - '2024-04-13'
      x-range-start:
      - '2024-04-07'
      x-sub-grouping:
      - time_entries
      x-service-level:
      - GREEN
      instance:
      - track-public-api-proxy-6bc44dc6d5-7wdt5
      x-we-are-hiring:
      - https://toggl.com/jobs/
    body:
      encoding: UTF-8
      string: '{"groups":[]}'
  recorded_at: Fri, 12 Apr 2024 22:38:41 GMT
recorded_with: VCR 6.2.0
