---
http_interactions:
- request:
    method: post
    uri: https://api.track.toggl.com/reports/api/v3/workspace/<TOGGL_WORKSPACE_ID>/summary/time_entries
    body:
      encoding: UTF-8
      string: '{"start_date":"2024-04-01","end_date":"2024-04-15","grouping":"projects"}'
    headers:
      Authorization:
      - Basic <TOGGL_BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-grouping:
      - projects
      x-range-end:
      - '2024-04-15'
      x-range-start:
      - '2024-04-01'
      x-sub-grouping:
      - time_entries
      x-service-level:
      - GREEN
      instance:
      - track-public-api-proxy-6bc44dc6d5-mrzsv
      x-we-are-hiring:
      - https://toggl.com/jobs/
    body:
      encoding: UTF-8
      string: '{"groups":[{"id":201876878,"sub_groups":[{"id":null,"title":"CREATE
        time entry","seconds":3600,"local_start":"2024-04-10T01:00:00Z","project_color":"0","project_hex_color":"#c9806b","ForExport":false,"DistinguishRates":false,"Grouping":"projects","SubGrouping":"time_entries"}],"project_color":"0","project_hex_color":"#c9806b"},{"id":201899518,"sub_groups":[{"id":null,"title":"The
        First task","seconds":202,"local_start":"2024-04-08T21:19:52Z","project_color":"0","project_hex_color":"#bf7000","ForExport":false,"DistinguishRates":false,"Grouping":"projects","SubGrouping":"time_entries"}],"project_color":"0","project_hex_color":"#bf7000"}]}'
  recorded_at: Sun, 14 Apr 2024 16:47:25 GMT
recorded_with: VCR 6.2.0
