---
http_interactions:
- request:
    method: put
    uri: https://api.track.toggl.com/api/v9/workspaces/<TOGGL_WORKSPACE_ID>/time_entries/3404802040
    body:
      encoding: UTF-8
      string: '{"description":"UPDATE time entry"}'
    headers:
      Authorization:
      - Basic <TOGGL_BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-toggl-request-id:
      - 70b10175-5816-4bce-84fe-2ddac7dfd6f6
      x-service-level:
      - GREEN
      instance:
      - track-public-api-proxy-f666f86df-ng2v4
      x-we-are-hiring:
      - https://toggl.com/jobs/
    body:
      encoding: UTF-8
      string: '{"id":3404802040,"workspace_id":<TOGGL_WORKSPACE_ID>,"project_id":201876878,"task_id":null,"billable":false,"start":"2024-04-10T08:00:00Z","stop":"2024-04-10T09:00:00Z","duration":3600,"description":"UPDATE
        time entry","tags":["development","ruby"],"tag_ids":[16009455,16009456],"duronly":true,"at":"2024-04-29T15:43:26+00:00","server_deleted_at":null,"user_id":10658406,"uid":10658406,"wid":<TOGGL_WORKSPACE_ID>,"pid":201876878,"permissions":null}'
  recorded_at: Mon, 29 Apr 2024 15:43:26 GMT
recorded_with: VCR 6.2.0
