---
http_interactions:
- request:
    method: put
    uri: https://api.track.toggl.com/api/v9/me
    body:
      encoding: UTF-8
      string: '{"beginning_of_week":0,"country_id":40,"fullname":"Updated withPATCH","timezone":"Europe/London"}'
    headers:
      Authorization:
      - Basic <TOGGL_BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-toggl-request-id:
      - 5d2aaf19-417e-49f0-98a9-b618ab620c9c
      x-service-level:
      - GREEN
      instance:
      - track-public-api-proxy-f666f86df-ng2v4
      x-we-are-hiring:
      - https://toggl.com/jobs/
    body:
      encoding: UTF-8
      string: '{"id":10658406,"api_token":"<TOGGL_API_TOKEN>","email":"<TOGGL_USER_EMAIL>","fullname":"Updated
        withPATCH","timezone":"Europe/London","toggl_accounts_id":"AXnZJWgbGgyrdT6a9tcR6X","toggl_accounts_updated_at":"2024-04-23T15:55:01.004574Z","default_workspace_id":<TOGGL_WORKSPACE_ID>,"beginning_of_week":0,"image_url":"https://assets.track.toggl.com/images/profile.png","created_at":"2024-04-09T03:12:46.676852Z","updated_at":"2024-04-23T15:54:40.151498Z","openid_email":null,"openid_enabled":false,"country_id":40,"has_password":true,"at":"2024-04-23T15:55:00.906289Z"}'
  recorded_at: Tue, 23 Apr 2024 15:55:01 GMT
recorded_with: VCR 6.2.0
