---
http_interactions:
- request:
    method: put
    uri: https://api.track.toggl.com/api/v9/workspaces/<TOGGL_WORKSPACE_ID>/projects/201876878
    body:
      encoding: UTF-8
      string: '{"color":"#d94182","name":"Updated via PUT"}'
    headers:
      Authorization:
      - Basic <TOGGL_BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-toggl-request-id:
      - be16f287-c5df-4a8a-b5de-7123630d48f4
      x-service-level:
      - GREEN
      instance:
      - track-public-api-proxy-68c8f5bc4-mwh6b
      x-we-are-hiring:
      - https://toggl.com/jobs/
    body:
      encoding: UTF-8
      string: '{"id":201876878,"workspace_id":<TOGGL_WORKSPACE_ID>,"client_id":null,"name":"Updated
        via PUT","is_private":true,"active":true,"at":"2024-05-02T00:03:40+00:00","created_at":"2024-04-09T04:23:27+00:00","server_deleted_at":null,"color":"#d94182","billable":null,"template":null,"auto_estimates":null,"estimated_hours":null,"estimated_seconds":null,"rate":null,"rate_last_updated":null,"currency":null,"recurring":false,"template_id":null,"recurring_parameters":null,"fixed_fee":null,"actual_hours":null,"actual_seconds":null,"start_date":"2024-04-09","status":"active","wid":<TOGGL_WORKSPACE_ID>,"cid":null,"permissions":null}'
  recorded_at: Thu, 02 May 2024 00:28:38 GMT
recorded_with: VCR 6.2.0
